# .gitignore para projetos Terraform e AWS

# 1. Pastas do Terraform (contêm plugins e módulos baixados)
.terraform/
.terraform.lock.hcl

# 2. Arquivos de Estado (Embora você use S3, o Terraform cria backups locais às vezes)
*.tfstate
*.tfstate.*
terraform.tfstate*

# 3. Variáveis e Segredos (NUNCA suba arquivos .tfvars com senhas reais)
# *.tfvars
# *.tfvars.json

# 4. Arquivos de Plano (Podem conter dados sensíveis em texto claro)
*.tfplan

# 5. Chaves de Acesso e Certificados (Segurança Crítica!)
*.pem
*.key
*.pub
ssh-key-*

# 6. Logs de Erro
crash.log
*.log

# 7. Arquivos do Sistema e VS Code
.vscode/
.DS_Store

# pdf não é relevante para o projeto, pode ser ignorado
*.pdf